exportPattern("^[[:alpha:]]+")
useDynLib(OMIG, .registration=TRUE)
importFrom(Rcpp, evalCpp)

#export(MIG, OMIG, MIG.default,MIG.data.frame, selectFacNumber, gendata)

S3method("OrMIG","matrix")
S3method("OrMIG","data.frame")
S3method("OrMIG","list")
S3method("OrMIG","default")
